<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Layout Example</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Feb 13 11:49:56 EST 2014<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>74236</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level">INFO</td>
<td title="com.fdmgroup.springaop.ConsoleLog category">com.fdmgroup.springaop.ConsoleLog</td>
<td>ConsoleLog.java:88</td>
<td title="Message">User has logged in.</td>
</tr>

<tr>
<td>74251</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>74255</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>74259</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>79303</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>79310</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>79315</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>93573</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>93580</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>93586</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>97869</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>97875</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>97881</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>99109</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>99115</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>99121</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>107985</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>107993</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>107998</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>132177</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>132183</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>132189</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>144871</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level">INFO</td>
<td title="com.fdmgroup.springaop.ConsoleLog category">com.fdmgroup.springaop.ConsoleLog</td>
<td>ConsoleLog.java:34</td>
<td title="Message">Retrieving all request for view.</td>
</tr>

<tr>
<td>145511</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>145514</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>145517</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>149414</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>149420</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>149425</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>164083</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>164089</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>164095</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>174529</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>174535</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>174540</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>176059</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.User.UserType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>176065</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestType] in DispatcherServlet with name 'dispatcher'</td>
</tr>

<tr>
<td>176071</td>
<td title="http-8088-1 thread">http-8088-1</td>
<td title="Level"><font color="#993300"><strong>WARN</strong></font></td>
<td title="org.springframework.web.servlet.PageNotFound category">org.springframework.web.servlet.PageNotFound</td>
<td>DispatcherServlet.java:1108</td>
<td title="Message">No mapping found for HTTP request with URI [/TradePlatformAdmin/WEB-INF/views/com.fdmgroup.request.RequestStatus] in DispatcherServlet with name 'dispatcher'</td>
</tr>
